xau/panda/bak/panda_news.json
{
  "name": "시세 분석 자동화 (API 키 적용완료)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * *"
            }
          ]
        }
      },
      "id": "6570f5be-6801-4ddf-b129-8f5a17384143",
      "name": "매일 오후 7시 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -496
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 19 * * *"
            }
          ]
        }
      },
      "id": "7f43c508-7f34-4d98-aa37-5fe6e342522c",
      "name": "매일 오후 7시 10분 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -336
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "20 19 * * *"
            }
          ]
        }
      },
      "id": "e5243e2b-fb85-45bd-b738-121665cd3655",
      "name": "매일 오후 7시 20분 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "symbol",
              "name": "symbol",
              "value": "XAUUSD",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "골드시세",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7617b284-d2f0-4f7b-a549-a30b8c658a18",
      "name": "골드 심볼 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1168,
        -496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "symbol",
              "name": "symbol",
              "value": "BTCUSD",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "비트코인",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c5781c70-cd75-4136-ae61-4200bd82fc99",
      "name": "비트코인 심볼 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1168,
        -336
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://vps105.cafe24.com:5003/api/ticker/?h_tic={{ $json.symbol }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "BTCUSD 시세 API 호출",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// API 응답 데이터를 LLM용 메타프롬프트로 정리\nconst input = $input.first();\nconst apiData = input.json;\nconst symbol = $('비트코인 심볼 설정').first().json.symbol;\nconst name = $('비트코인 심볼 설정').first().json.name;\n\n// 기술적 분석 데이터 정리\nconst technicalAnalysis = {\n  symbol: apiData.symbol || symbol,\n  name: name,\n  current_price: apiData.current_price,\n  yesterday_price: apiData.yesterday_price,\n  price_change: apiData.current_price - apiData.yesterday_price,\n  price_change_percent: ((apiData.current_price - apiData.yesterday_price) / apiData.yesterday_price * 100).toFixed(2),\n  \n  // RSI 분석\n  rsi: {\n    value: apiData.analysis?.rsi?.value,\n    status: apiData.analysis?.rsi?.status,\n    interpretation: apiData.analysis?.rsi?.value < 30 ? '과매도' : \n                    apiData.analysis?.rsi?.value > 70 ? '과매수' : '중립'\n  },\n  \n  // MACD 분석\n  macd: {\n    macd: apiData.analysis?.macd?.macd,\n    signal: apiData.analysis?.macd?.signal,\n    histogram: apiData.analysis?.macd?.histogram,\n    trend: apiData.analysis?.macd?.trend\n  },\n  \n  // 볼린저 밴드\n  bollinger_bands: {\n    upper: apiData.analysis?.bollinger_bands?.upper,\n    middle: apiData.analysis?.bollinger_bands?.middle,\n    lower: apiData.analysis?.bollinger_bands?.lower,\n    position: apiData.analysis?.bollinger_bands?.position\n  },\n  \n  // 이동평균선\n  ema: {\n    ema7: apiData.analysis?.ema?.ema7,\n    ema21: apiData.analysis?.ema?.ema21,\n    ema50: apiData.analysis?.ema?.ema50\n  },\n  \n  // 지지/저항선\n  support_resistance: {\n    recent_high: apiData.analysis?.support_resistance?.recent_high,\n    recent_low: apiData.analysis?.support_resistance?.recent_low,\n    all_time_high: apiData.analysis?.support_resistance?.all_time_high,\n    all_time_low: apiData.analysis?.support_resistance?.all_time_low\n  },\n  \n  // 스토캐스틱\n  stochastic: {\n    k: apiData.analysis?.stochastic?.k,\n    d: apiData.analysis?.stochastic?.d,\n    status: apiData.analysis?.stochastic?.status\n  },\n  \n  // 변동성\n  atr: {\n    value: apiData.analysis?.atr?.value,\n    volatility: apiData.analysis?.atr?.volatility\n  }\n};\n\n// LLM용 메타프롬프트 생성\nconst metaPrompt = `다음은 ${name}(${symbol})의 실시간 기술적 분석 데이터입니다:\n\n## 가격 정보\n- 현재가: ${technicalAnalysis.current_price}\n- 어제 종가: ${technicalAnalysis.yesterday_price}\n- 변동폭: ${technicalAnalysis.price_change}\n- 변동률: ${technicalAnalysis.price_change_percent}%\n\n## 기술적 지표\n\n### RSI (상대강도지수)\n- 값: ${technicalAnalysis.rsi.value}\n- 상태: ${technicalAnalysis.rsi.status}\n- 해석: ${technicalAnalysis.rsi.interpretation}\n\n### MACD\n- MACD: ${technicalAnalysis.macd.macd}\n- Signal: ${technicalAnalysis.macd.signal}\n- Histogram: ${technicalAnalysis.macd.histogram}\n- 트렌드: ${technicalAnalysis.macd.trend}\n\n### 볼린저 밴드\n- 상단: ${technicalAnalysis.bollinger_bands.upper}\n- 중간: ${technicalAnalysis.bollinger_bands.middle}\n- 하단: ${technicalAnalysis.bollinger_bands.lower}\n- 현재 위치: ${technicalAnalysis.bollinger_bands.position}\n\n### 이동평균선 (EMA)\n- EMA 7: ${technicalAnalysis.ema.ema7}\n- EMA 21: ${technicalAnalysis.ema.ema21}\n- EMA 50: ${technicalAnalysis.ema.ema50}\n\n### 지지/저항선\n- 최근 고점: ${technicalAnalysis.support_resistance.recent_high}\n- 최근 저점: ${technicalAnalysis.support_resistance.recent_low}\n- 역대 최고가: ${technicalAnalysis.support_resistance.all_time_high}\n- 역대 최저가: ${technicalAnalysis.support_resistance.all_time_low}\n\n### 스토캐스틱\n- K: ${technicalAnalysis.stochastic.k}\n- D: ${technicalAnalysis.stochastic.d}\n- 상태: ${technicalAnalysis.stochastic.status}\n\n### 변동성 (ATR)\n- 값: ${technicalAnalysis.atr.value}\n- 변동성: ${technicalAnalysis.atr.volatility}\n\n위 데이터를 바탕으로 전문적인 시세 분석을 제공하세요.`;\n\nreturn [{ \n  json: { \n    symbol: symbol,\n    name: name,\n    technicalAnalysis: technicalAnalysis,\n    metaPrompt: metaPrompt,\n    rawApiData: apiData\n  } \n}];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "메타프롬프트 작성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 금융 시장 분석 전문가입니다. 실시간 기술적 분석 데이터를 바탕으로 정확한 시세 분석을 제공합니다. 반드시 JSON 형식으로만 응답하세요.'\n    },\n    {\n      role: 'user',\n      content: `${$json.metaPrompt}\\n\\n반드시 아래 JSON 형식으로만 응답하세요:\\n\\n{\\n  \"symbol\": \"심볼코드\",\\n  \"name\": \"종목명\",\\n  \"prices\": {\\n    \"yesterday_close\": \"어제 종가\",\\n    \"current_price\": \"현재가\",\\n    \"change\": \"변동폭\",\\n    \"change_percent\": \"변동률(%)\"\\n  },\\n  \"market_summary\": \"시장 동향 요약 (2-3문장)\",\\n  \"technical_analysis\": {\\n    \"rsi\": \"RSI 수치 및 해석\",\\n    \"macd\": \"MACD 신호\",\\n    \"moving_average\": \"이동평균선 분석\",\\n    \"support_resistance\": \"지지선/저항선\",\\n    \"overall\": \"기술적 분석 종합 의견\"\\n  },\\n  \"expert_analysis\": {\\n    \"summary\": \"전문가 의견 요약\",\\n    \"forecast\": \"향후 전망\",\\n    \"key_factors\": [\"주요 영향 요인1\", \"주요 영향 요인2\"]\\n  },\\n  \"recommendation\": {\\n    \"rating\": \"Strong BUY | BUY | HOLD | SELL | Strong SELL\",\\n    \"confidence\": \"신뢰도 (1-10)\",\\n    \"reasoning\": \"평가 근거 (3-5문장)\"\\n  },\\n  \"timestamp\": \"${new Date().toISOString()}\"\\n}\\n\\n중요: 반드시 유효한 JSON 형식으로만 응답하고, JSON 외의 다른 텍스트는 포함하지 마세요.`\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 2000,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "OpenAI 기술분석 기반 시세분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        -336
      ],
      "credentials": {
        "openAiApi": {
          "id": "xLiKGk1HIqbV45T1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "symbol",
              "name": "symbol",
              "value": "USDKRW",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "달러환율",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8aee6885-f27c-4258-9f61-1fd0806fb60f",
      "name": "달러환율 심볼 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1168,
        -192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 금융 시장 분석 전문가입니다. 웹 검색 결과를 바탕으로 정확한 시세 분석을 제공합니다. 반드시 JSON 형식으로만 응답하세요.'\n    },\n    {\n      role: 'user',\n      content: `다음 심볼에 대해 최신 정보를 분석하세요:\\n\\n심볼: ${$json.symbol}\\n종목명: ${$json.name}\\n\\n다음 정보를 수집하고 분석하세요:\\n\\n1. 어제 종가와 현재 시세 (실시간 가격 데이터)\\n2. 오늘의 가격 변동 및 간략한 시장 동향 요약\\n3. 기술적 분석 (RSI, MACD, 이동평균선, 지지/저항선 등)\\n4. 전문가 분석 및 시장 예측\\n5. 종합 평가 및 투자 의견 (Strong BUY / BUY / HOLD / SELL / Strong SELL)\\n\\n반드시 아래 JSON 형식으로만 응답하세요:\\n\\n{\\n  \"symbol\": \"심볼코드\",\\n  \"name\": \"종목명\",\\n  \"prices\": {\\n    \"yesterday_close\": \"어제 종가\",\\n    \"current_price\": \"현재가\",\\n    \"change\": \"변동폭\",\\n    \"change_percent\": \"변동률(%)\"\\n  },\\n  \"market_summary\": \"시장 동향 요약 (2-3문장)\",\\n  \"technical_analysis\": {\\n    \"rsi\": \"RSI 수치 및 해석\",\\n    \"macd\": \"MACD 신호\",\\n    \"moving_average\": \"이동평균선 분석\",\\n    \"support_resistance\": \"지지선/저항선\",\\n    \"overall\": \"기술적 분석 종합 의견\"\\n  },\\n  \"expert_analysis\": {\\n    \"summary\": \"전문가 의견 요약\",\\n    \"forecast\": \"향후 전망\",\\n    \"key_factors\": [\"주요 영향 요인1\", \"주요 영향 요인2\"]\\n  },\\n  \"recommendation\": {\\n    \"rating\": \"Strong BUY | BUY | HOLD | SELL | Strong SELL\",\\n    \"confidence\": \"신뢰도 (1-10)\",\\n    \"reasoning\": \"평가 근거 (3-5문장)\"\\n  },\\n  \"timestamp\": \"${new Date().toISOString()}\"\\n}\\n\\n중요: 반드시 유효한 JSON 형식으로만 응답하고, JSON 외의 다른 텍스트는 포함하지 마세요.`\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 2000,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "id": "dd446c9b-4904-4757-ac91-92037374ac6b",
      "name": "OpenAI 시세 분석",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "xLiKGk1HIqbV45T1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// OpenAI 응답에서 JSON 추출\nconst input = $input.first();\nconst response = input.json;\n\ntry {\n  // OpenAI 응답 구조: response.choices[0].message.content\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  return [{ json: parsed }];\n} catch (error) {\n  console.error('JSON 파싱 실패:', error);\n  console.log('원본 응답:', JSON.stringify(response, null, 2));\n  throw new Error('OpenAI 응답을 JSON으로 파싱할 수 없습니다: ' + error.message);\n}"
      },
      "id": "83e96cc9-ba90-44f0-bd70-f9e43ad20ae3",
      "name": "OpenAI JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.symbol }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "날짜": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "심볼": "={{ $json.symbol }}",
            "종목명": "={{ $json.name }}",
            "어제종가": "={{ $json.prices.yesterday_close }}",
            "현재가": "={{ $json.prices.current_price }}",
            "변동폭": "={{ $json.prices.change }}",
            "변동률": "={{ $json.prices.change_percent }}",
            "시장요약": "={{ $json.market_summary }}",
            "RSI": "={{ $json.technical_analysis.rsi }}",
            "MACD": "={{ $json.technical_analysis.macd }}",
            "이동평균선": "={{ $json.technical_analysis.moving_average }}",
            "지지저항선": "={{ $json.technical_analysis.support_resistance }}",
            "기술분석종합": "={{ $json.technical_analysis.overall }}",
            "전문가의견": "={{ $json.expert_analysis.summary }}",
            "향후전망": "={{ $json.expert_analysis.forecast }}",
            "주요요인": "={{ $json.expert_analysis.key_factors.join(', ') }}",
            "투자등급": "={{ $json.recommendation.rating }}",
            "신뢰도": "={{ $json.recommendation.confidence }}",
            "평가근거": "={{ $json.recommendation.reasoning }}",
            "분석시각": "={{ $json.timestamp }}"
          }
        },
        "options": {}
      },
      "id": "23292876-05f3-4642-819d-681f35407132",
      "name": "Google Sheets 저장",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -240,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstash.com/v2/redis/set",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ASBoAAImcDIyMzcyMDg0YjBlNTE0ZGJjYmEyZWI3NGYyYjYzY2RmOHAyODI5Ng"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([\n  $json.symbol + '_' + $now.format('yyyy-MM-dd'),\n  JSON.stringify($json),\n  'EX',\n  2592000\n]) }}",
        "options": {}
      },
      "id": "35900c0c-c830-44ec-aadc-a2e030f42afd",
      "name": "Redis 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstash.com/v2/redis/get",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ASBoAAImcDIyMzcyMDg0YjBlNTE0ZGJjYmEyZWI3NGYyYjYzY2RmOHAyODI5Ng"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([\n  $json.symbol + '_' + $now.subtract(1, 'day').format('yyyy-MM-dd')\n]) }}",
        "options": {}
      },
      "id": "443e3031-9f02-4ee1-beec-90688fd5e927",
      "name": "Redis 어제 데이터 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        48
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Redis 응답 처리 및 기본값 설정\nconst input = $input.first();\nconst currentData = $('OpenAI JSON 파싱').first().json;\n\nlet yesterdayData = null;\n\ntry {\n  // Redis 응답이 있으면 파싱\n  if (input.json && input.json.result) {\n    yesterdayData = JSON.parse(input.json.result);\n  }\n} catch (error) {\n  console.log('어제 데이터 없음:', error.message);\n}\n\n// 어제 데이터가 없으면 기본값 사용\nif (!yesterdayData) {\n  yesterdayData = {\n    symbol: currentData.symbol || 'N/A',\n    name: currentData.name || 'N/A',\n    recommendation: {\n      rating: 'HOLD',\n      confidence: '5',\n      reasoning: '어제 데이터가 없습니다.'\n    },\n    prices: {\n      current_price: 'N/A'\n    }\n  };\n}\n\nreturn [{ json: { yesterday: yesterdayData, today: currentData } }];"
      },
      "id": "e7253686-da8a-4d6e-b3ae-b3e7ebbc4773",
      "name": "어제 데이터 처리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 한국의 일상 정보를 친근하게 전달하는 AI입니다. 반드시 JSON 형식으로만 응답하세요.'\n    },\n    {\n      role: 'user',\n      content: `오늘 날짜: ${$now.format('yyyy년 MM월 dd일 (ddd)')}\\n\\n다음 정보를 정리하세요:\\n\\n1. 오늘 날씨 (한국 서울 기준)\\n2. 오늘 절기나 특별한 날\\n3. 오늘의 주요 뉴스 1-2개 (경제/정치/사회)\\n4. 중년 남성을 위한 짧은 건강 팁 또는 생활 팁\\n5. 재테크 한마디 조언\\n6. 시청자 참여 유도 질문\\n\\n반드시 아래 JSON 형식으로만 응답하세요:\\n\\n{\\n  \"date\": \"yyyy년 MM월 dd일 (요일)\",\\n  \"weather\": {\\n    \"condition\": \"날씨 상태\",\\n    \"temperature\": \"온도\",\\n    \"comment\": \"날씨 관련 한마디\"\\n  },\\n  \"special_day\": \"절기나 특별한 날\",\\n  \"news\": [\\n    {\\n      \"title\": \"뉴스 제목\",\\n      \"summary\": \"한줄 요약\"\\n    }\\n  ],\\n  \"health_tip\": {\\n    \"title\": \"건강/생활 팁 제목\",\\n    \"content\": \"2-3문장 설명\",\\n    \"why\": \"왜 중요한지\"\\n  },\\n  \"money_tip\": \"오늘의 재테크 한마디\",\\n  \"question\": \"시청자 참여 유도 질문\"\\n}`\n    }\n  ],\n  temperature: 0.7,\n  max_tokens: 1500,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "id": "4064d383-ae34-45ca-8ab1-1933ed478cd6",
      "name": "OpenAI 서론 콘텐츠 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -528
      ],
      "credentials": {
        "openAiApi": {
          "id": "xLiKGk1HIqbV45T1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// OpenAI 서론 콘텐츠 JSON 파싱\nconst input = $input.first();\nconst response = input.json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  return [{ json: parsed }];\n} catch (error) {\n  console.error('JSON 파싱 실패:', error);\n  throw new Error('서론 콘텐츠를 JSON으로 파싱할 수 없습니다: ' + error.message);\n}"
      },
      "id": "d29234bd-4157-4f11-8544-e9bd3a93ea74",
      "name": "서론 JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 아프리카TV \"팬더곰\" 캐릭터입니다. 형님들한테 귀여움 받는 친근한 동생 말투로 2분 방송 대본을 작성합니다.'\n    },\n    {\n      role: 'user',\n      content: `다음 정보로 2분 분량 대본을 작성하세요:\\n\\n서론 콘텐츠:\\n${JSON.stringify($json.intro, null, 2)}\\n\\n오늘 분석:\\n${JSON.stringify($json.today, null, 2)}\\n\\n어제 분석:\\n${JSON.stringify($json.yesterday, null, 2)}\\n\\n말투: 형님들, ㅋㅋㅋ, ㅠㅠ, 친근하고 귀여운 톤\\n\\n구성:\\n1부(30초): 인사, 날씨, 건강팁\\n2부(1분): 시세 분석, 어제 vs 오늘 비교\\n3부(30초): 마무리, 응원\\n\\n대본만 순수 텍스트로 작성하세요 (JSON 아님).`\n    }\n  ],\n  temperature: 0.7,\n  max_tokens: 2000\n}) }}",
        "options": {}
      },
      "id": "2649e933-9310-4e2c-b8b9-c9840528ba4b",
      "name": "OpenAI 대본 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// OpenAI 대본 추출\nconst input = $input.first();\nconst response = input.json;\n\nconst script = response.choices[0].message.content;\n\nreturn [{ json: { text: script } }];"
      },
      "id": "f4d39dc4-1a05-459f-ba3f-4bedb996fd7b",
      "name": "대본 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "대본",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "날짜": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "심볼": "={{ $('어제 데이터 처리').first().json.today.symbol }}",
            "종목명": "={{ $('어제 데이터 처리').first().json.today.name }}",
            "대본": "={{ $json.text }}",
            "어제투자등급": "={{ $('어제 데이터 처리').first().json.yesterday.recommendation.rating }}",
            "오늘투자등급": "={{ $('어제 데이터 처리').first().json.today.recommendation.rating }}"
          }
        },
        "options": {}
      },
      "id": "85577437-3002-4bb1-a030-273a23d84fd2",
      "name": "대본 저장",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        704,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: '대본을 정확히 12개 섹션으로 분할합니다. 반드시 JSON 형식으로 응답하세요.'\n    },\n    {\n      role: 'user',\n      content: `다음 대본을 12개 섹션(각 10초)으로 분할하세요:\\n\\n대본:\\n${$json.text}\\n\\nJSON 형식:\\n{\\n  \"sections\": [\\n    {\\n      \"section_number\": 1,\\n      \"category\": \"서론\",\\n      \"text\": \"섹션 텍스트\",\\n      \"duration\": 10\\n    }\\n  ],\\n  \"total_duration\": 120\\n}\\n\\n정확히 12개 섹션을 생성하세요.`\n    }\n  ],\n  temperature: 0.3,\n  max_tokens: 3000,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "id": "f7ba12f9-669c-4edc-8db7-3ae637bbb986",
      "name": "OpenAI 12개 섹션 분할",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// 섹션 분할 JSON 파싱\nconst input = $input.first();\nconst response = input.json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  \n  if (!parsed.sections || parsed.sections.length !== 12) {\n    throw new Error(`섹션 개수가 ${parsed.sections?.length || 0}개입니다. 12개여야 합니다.`);\n  }\n  \n  return [{ json: parsed }];\n} catch (error) {\n  console.error('JSON 파싱 실패:', error);\n  throw new Error('섹션 분할을 JSON으로 파싱할 수 없습니다: ' + error.message);\n}"
      },
      "id": "593aff77-87a5-4b8d-b958-718023a1f41c",
      "name": "섹션 JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  messages: [\n    {\n      role: 'system',\n      content: '금융 방송용 배경 이미지 프롬프트를 영문으로 생성합니다. JSON 형식으로 응답하세요.'\n    },\n    {\n      role: 'user',\n      content: `섹션 정보:\\n${JSON.stringify($json.sections, null, 2)}\\n\\n심볼: ${$('어제 데이터 처리').first().json.today.symbol}\\n\\n각 섹션에 맞는 전문적인 금융 배경 이미지 프롬프트를 영문으로 생성하세요.\\n\\nJSON 형식:\\n{\\n  \"image_prompts\": [\\n    {\\n      \"section_number\": 1,\\n      \"prompt\": \"Professional financial news background...\"\\n    }\\n  ]\\n}\\n\\n12개 모두 생성하세요.`\n    }\n  ],\n  temperature: 0.7,\n  max_tokens: 3000,\n  response_format: { type: 'json_object' }\n}) }}",
        "options": {}
      },
      "id": "70a6ee72-79cf-4479-9752-6949afb17e9e",
      "name": "OpenAI 이미지 프롬프트",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// 이미지 프롬프트 JSON 파싱\nconst input = $input.first();\nconst response = input.json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  \n  if (!parsed.image_prompts || parsed.image_prompts.length !== 12) {\n    throw new Error(`이미지 프롬프트가 ${parsed.image_prompts?.length || 0}개입니다. 12개여야 합니다.`);\n  }\n  \n  return [{ json: parsed }];\n} catch (error) {\n  console.error('JSON 파싱 실패:', error);\n  throw new Error('이미지 프롬프트를 JSON으로 파싱할 수 없습니다: ' + error.message);\n}"
      },
      "id": "9a7d1122-af34-477c-9a3f-75bf34eb3ed7",
      "name": "이미지 프롬프트 JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/43u72KBf9MaiosJR6MbU",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_973ac089744fe86d24d1cf30e5126ccc53e778a7ce911756"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: $('대본 추출').first().json.text,\n  model_id: 'eleven_turbo_v2_5',\n  language_code: 'ko',\n  voice_settings: {\n    stability: 0.5,\n    similarity_boost: 0.8,\n    style: 0.5,\n    use_speaker_boost: true\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "1c890b01-587c-4a4a-9419-9b0fbef9657f",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// 간단히 1개 이미지만 생성하고 12개 복사 (데모용)\n// 실제로는 Loop 노드로 12개 각각 생성 필요\nconst dummyImage = 'https://placehold.co/1920x1080/1a1a2e/eee?text=Financial+News';\n\nconst images = Array(12).fill(dummyImage);\n\nreturn [{ json: { images } }];"
      },
      "id": "b8f3b1aa-0c3f-40d7-aefe-9cce417cdf65",
      "name": "데모 이미지 (12개)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "notes": "실제 운영시 Fal.ai로 교체 필요"
    },
    {
      "parameters": {
        "jsCode": "// 데모용: Hedra 대신 더미 비디오 URL\n// 실제로는 Hedra API 호출 필요\nconst dummyVideoUrl = 'https://example.com/panda-lipsync-demo.mp4';\n\nreturn [{ json: { video_url: dummyVideoUrl } }];"
      },
      "id": "59142755-83f4-44b4-bf19-df812c325795",
      "name": "데모 립싱크",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -208
      ],
      "notes": "실제 운영시 Hedra로 교체 필요"
    },
    {
      "parameters": {
        "jsCode": "// 데모용: Creatomate 대신 메타데이터만 반환\n// 실제로는 Creatomate API 호출 필요\nconst metadata = {\n  status: 'demo',\n  message: '실제 운영시 Creatomate로 영상 합성',\n  url: 'https://example.com/final-video-demo.mp4'\n};\n\nreturn [{ json: metadata }];"
      },
      "id": "671cb9e1-7ded-456f-b6a5-52467ce268bd",
      "name": "데모 영상 합성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -112
      ],
      "notes": "실제 운영시 Creatomate로 교체"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "대본",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "상태": "완료(데모)",
            "비고": "={{ $json.message }}",
            "완료시각": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          }
        },
        "options": {}
      },
      "id": "ccf0f835-b3ba-47de-a52e-2e5f9c2b4843",
      "name": "Sheets 상태 업데이트",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2144,
        -112
      ]
    },
    {
      "parameters": {
        "mode": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        -528
      ],
      "id": "80db0ae5-e6cb-46fe-b842-0f932b823fc1",
      "name": "서론+분석 Merge"
    },
    {
      "parameters": {
        "jsCode": "// Merge된 데이터를 하나로 합치기\nconst allData = $input.all();\n\nconsole.log('전체 데이터 개수:', allData.length);\nconsole.log('첫 번째 아이템:', JSON.stringify(allData[0]?.json, null, 2));\nif (allData.length > 1) {\n  console.log('두 번째 아이템:', JSON.stringify(allData[1]?.json, null, 2));\n}\n\n// allData[0] = 서론 JSON 파싱 결과\nconst introData = allData[0]?.json || {};\n\n// allData[1] = 어제 데이터 처리 결과 { yesterday, today }\nconst analysisData = allData[1]?.json || {};\n\n// 모든 데이터를 하나의 객체로 합치기\nconst combined = {\n  intro: introData,                      // 서론 (날씨, 건강팁 등)\n  today: analysisData.today || {},       // 오늘 시세 분석\n  yesterday: analysisData.yesterday || {} // 어제 시세 분석\n};\n\nconsole.log('합쳐진 데이터:', JSON.stringify(combined, null, 2));\n\nreturn [{ json: combined }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -496
      ],
      "id": "0de17f9c-b83c-452c-b6f0-10baa7e9c537",
      "name": "데이터 합치기"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        0
      ],
      "id": "21889910-7f75-4463-9217-a5eb632335e0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        -528
      ],
      "id": "2b83eb14-3c14-40a4-b472-98dd910769cd",
      "name": "Loop Over Items1"
    }
  ],
  "pinData": {},
  "connections": {
    "매일 오후 7시 트리거": {
      "main": [
        [
          {
            "node": "골드 심볼 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "매일 오후 7시 10분 트리거": {
      "main": [
        [
          {
            "node": "비트코인 심볼 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "매일 오후 7시 20분 트리거": {
      "main": [
        [
          {
            "node": "달러환율 심볼 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "골드 심볼 설정": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "비트코인 심볼 설정": {
      "main": [
        [
          {
            "node": "BTCUSD 시세 API 호출",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "달러환율 심볼 설정": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 시세 분석": {
      "main": [
        [
          {
            "node": "OpenAI JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI JSON 파싱": {
      "main": [
        [
          {
            "node": "Google Sheets 저장",
            "type": "main",
            "index": 0
          },
          {
            "node": "Redis 저장",
            "type": "main",
            "index": 0
          },
          {
            "node": "Redis 어제 데이터 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis 어제 데이터 조회": {
      "main": [
        [
          {
            "node": "어제 데이터 처리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "어제 데이터 처리": {
      "main": [
        [
          {
            "node": "서론+분석 Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI 서론 콘텐츠 생성": {
      "main": [
        [
          {
            "node": "서론 JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 대본 생성": {
      "main": [
        [
          {
            "node": "대본 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대본 추출": {
      "main": [
        [
          {
            "node": "대본 저장",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI 12개 섹션 분할",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 12개 섹션 분할": {
      "main": [
        [
          {
            "node": "섹션 JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "섹션 JSON 파싱": {
      "main": [
        [
          {
            "node": "OpenAI 이미지 프롬프트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 이미지 프롬프트": {
      "main": [
        [
          {
            "node": "이미지 프롬프트 JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이미지 프롬프트 JSON 파싱": {
      "main": [
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          },
          {
            "node": "데모 이미지 (12개)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "데모 립싱크",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데모 립싱크": {
      "main": [
        [
          {
            "node": "데모 영상 합성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데모 이미지 (12개)": {
      "main": [
        [
          {
            "node": "데모 영상 합성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데모 영상 합성": {
      "main": [
        [
          {
            "node": "Sheets 상태 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "서론 JSON 파싱": {
      "main": [
        [
          {
            "node": "서론+분석 Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "서론+분석 Merge": {
      "main": [
        [
          {
            "node": "데이터 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 합치기": {
      "main": [
        [
          {
            "node": "OpenAI 대본 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "OpenAI 시세 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "OpenAI 서론 콘텐츠 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BTCUSD 시세 API 호출": {
      "main": [
        [
          {
            "node": "메타프롬프트 작성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "메타프롬프트 작성": {
      "main": [
        [
          {
            "node": "OpenAI 기술분석 기반 시세분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31d3f0f7-da05-4956-97a9-f1af43127fac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ec0cd6163e2bca624199bbe41654256fd925b94d8edb9a5baa2eeebd6fe5622"
  },
  "id": "wybJncMgcBW9oOnX",
  "tags": []
}