xau/panda/bak/sound.json
{
  "name": "ElevenLabs TTS + HeyGen 비디오 자동 생성",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-001",
      "name": "워크플로우 시작",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/43u72KBf9MaiosJR6MbU",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "9526f7962e6f0b0912db172eb3872537068b2ec2520a1d2b9f6e094c58b87ee8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.prompt_sound }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"output_format\": \"mp3_44100_128\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_data"
            }
          }
        }
      },
      "id": "elevenlabs-tts",
      "name": "1. ElevenLabs TTS 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "=tts_{{ $now.toFormat('yyyyMMdd_HHmmss') }}.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "id": "move-binary-data",
      "name": "2. Binary 데이터 준비",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v1/asset",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "sk_V2_hgu_kZldA0wChel_jo5GxyjoxsJ6gggolWF9lMsuF5jmutPk"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "heygen-upload-audio",
      "name": "3. HeyGen 음성 업로드",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "sk_V2_hgu_kZldA0wChel_jo5GxyjoxsJ6gggolWF9lMsuF5jmutPk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"27f3f9e90afb4bf1bae5b06d582c6ca6\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"audio\",\n        \"audio_asset_id\": \"{{ $json.data.audio_id }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#FFFFFF\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1920,\n    \"height\": 1080\n  },\n  \"aspect_ratio\": \"16:9\",\n  \"test\": false\n}",
        "options": {}
      },
      "id": "heygen-create-video",
      "name": "4. HeyGen 비디오 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-processing",
      "name": "5. 대기 (60초)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 300],
      "webhookId": "wait-webhook-001"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $json.data.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "sk_V2_hgu_kZldA0wChel_jo5GxyjoxsJ6gggolWF9lMsuF5jmutPk"
            }
          ]
        },
        "options": {}
      },
      "id": "heygen-check-status",
      "name": "6. 상태 확인",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "if-completed",
      "name": "7. 완료 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.data.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "8. 비디오 다운로드",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "재시도 대기",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 400],
      "webhookId": "wait-webhook-002"
    }
  ],
  "connections": {
    "워크플로우 시작": {
      "main": [
        [
          {
            "node": "1. ElevenLabs TTS 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. ElevenLabs TTS 생성": {
      "main": [
        [
          {
            "node": "2. Binary 데이터 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Binary 데이터 준비": {
      "main": [
        [
          {
            "node": "3. HeyGen 음성 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. HeyGen 음성 업로드": {
      "main": [
        [
          {
            "node": "4. HeyGen 비디오 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. HeyGen 비디오 생성": {
      "main": [
        [
          {
            "node": "5. 대기 (60초)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. 대기 (60초)": {
      "main": [
        [
          {
            "node": "6. 상태 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. 상태 확인": {
      "main": [
        [
          {
            "node": "7. 완료 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. 완료 확인": {
      "main": [
        [
          {
            "node": "8. 비디오 다운로드",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "재시도 대기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "재시도 대기": {
      "main": [
        [
          {
            "node": "6. 상태 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-29T00:00:00.000Z",
  "versionId": "1"
}